/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__logo {
  width: 100%;
}

.header__details {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}

.content-wrapper {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  outline: none;
}

.incomplete-tasks,
.completed-tasks {
  margin: 0;
  padding: 0;
}

.task-wrapper {
  list-style: none;
}

.button {
  outline: none;
  background: none;
  border: 0;
  color: #888888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* Heading */
.subtitle {
  color: #333333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input.task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dddddd;
  background: #ffffff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888888;
}

.input.task:focus {
  color: #333333;
}

/* New Task */
.add-task__wrapper {
  display: flex;
  margin-top: 20px;
}

.add-task__input {
  width: 318px;
}

/* Task list */
.task-wrapper {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  margin: 0 10px;
}

.task-wrapper > .label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task-wrapper > .input.task {
  width: 226px;
}

.button-delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button-delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-tasks .label.task {
  text-decoration: line-through;
  color: #888888;
}

/* Edit Task */
.incomplete-tasks .input.task,
.completed-tasks .input.task {
  display: none;
}

.task-wrapper_edit .input.task,
.task-wrapper_edit .input.task {
  display: inline-block;
  width: 224px;
}

.task-wrapper_edit .label.task,
.task-wrapper_edit .label.task {
  display: none;
}
